html, body {
	background:url('../img/CherryBlossomsEdit.jpg') center center no-repeat;
	height: 100%;
	background-size:cover;
}
#logo img{
	margin:0 auto !important;
	padding-top:10em;
	height: 30em;
	text-align: center;
}
#intro p{
	color: white;
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 3.8em;
	padding-top: 50px;
}


